*{
  margin: 0;
  /* background-color: pink; */
}

/* Banner */
.hero{
  overflow: hidden;
  margin-top: 110px;
  background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("../img/equipment_banner.jpg");

  height: 495px;

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.hero div{
  position: absolute;
  top: 50%;
  left: 10%;
  color: white;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 80px;
}