#div1 {
    display: grid;
    grid-template-rows: 20% 20% 50% 10%;
}
#div1-1 {
    display:grid;
    grid-template-columns: 25% 75%;
    padding-bottom: 20px;
    padding-top: 40px;
}
/* #div_chua_logo {
    
} */
#logo {
    width: 80%;
    height: auto;
}
.search-container {
    padding-top: 70px;
    padding-left: 8%;
    text-align: center;
    padding-right: 10%;
}
/* thanh tìm kiếm */
#searchInput {  
    padding: 1%;
    width: 60%;
    height: 13%;
    float: left;
    border-radius: 13px;
}
/* nút search */
#searchButton {
    width: 13%;
    height: 24%;
    padding-right: 10px;
    cursor: pointer;
    border-radius: 13px;
    padding: 1%;
}
#div_chua_link {
    text-align: center;
    padding-top: 5%;
    color: white;
    padding-bottom: 10%;
    display: grid;
    grid-template-columns: auto auto auto auto auto auto auto;
}
#link_home, #link_about, #link_equipment, #link_supplies, #link_accessories, #link_part, #link_order_now {
    color: black;
    padding-left: 2%;
    text-decoration: none;
    border-radius: 10px;
}
#link_order_now {
    color: blue;
}
nav {
    flex-basis: 100%;
    background-color:white;
    display: flex;                  
    justify-content: space-around;
    align-items: end;
    background: wheat;
}
#div_chua_anh_header {
    align-items: baseline;
    padding-top: 1px;
}
#anh_header {
    width: 100%;
    height: 100%;
    transform: scaleX(-1);
    border-radius: 10px;
}
#div2 {
    display: grid;
    grid-template-rows: 150px 500px;
    padding: 20px 5%
}
#div2_chu {
    display: grid;
    grid-template-rows: 70px 70px;
}
#most_popular_products, #equipment, #supplies, #accessories, #parts {
    text-align: center;
    text-decoration: underline;
    font-size: 30px;
    font-family: cursive;
    font-weight: lighter;
    font-style: italic;
    padding-bottom: 5px;
}
#lorem {
    text-align: center;
    font-size: 20px;
    color: rgb(38, 224, 21);
}
@media screen and (min-width: 600px) {
    #div2_anh {
        display: grid;
        grid-template-columns: 40% 30% 30%;
        padding-top: 15px;
    }
}
@media screen and (max-width: 599px) {
    #div2_anh {
        display: grid;
        grid-template-columns: auto;
        padding-top: 15px;
    }
}
#khoianh1_lead_glass {
    display:grid;
    grid-template-rows: 410px 90px;
    padding-right: 1.5%;
}
/* #div_chua_lead_glass {} */
#lead_glass_pic, #lead_curtains_pic, #xrays_pic, #grids_pic {
    width: 100%;
    height: 100%;
    border-radius: 10px 10px 0px 0px;
}
#khoianh1_lead_curtains {
    display:grid;
    grid-template-rows: 410px 90px;
    padding-right: 2%;
}
/* #div_chua_lead_curtains {

} */

#khoianh1_xrays_grids {
    display: grid;
    grid-template-rows: 250px 250px;
}
#div_chua_xrays {
    display: grid;
    grid-template-rows: 160px 85px;
}
/* #div_chua_xrays {} */

#div_chua_grids {
    display: grid;
    grid-template-rows: 160px 90px;
}

#div_chua_lead_glass_link, #div_chua_lead_curtains_link, #div_chua_xrays_link, #div_chua_grids_link {
    background: black;
    text-align: center;
    font-size: 30px;
    padding-top: 25px;
    color: white;
    font-style: italic;
    text-decoration: none;
    border-radius: 0px 0px 10px 10px;
}
#div3 {
    display: grid;
    grid-template-rows: 150px 400px 80px;
    padding: 20px 5%;
}
#div3_chu {
    display: grid;
    grid-template-rows: 70px 70px;
}
#div3_anh {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    padding-top: 15px;
}
#khoianh2_dark_room {
    display: grid;
    grid-template-rows: 310px 90px;
    padding-right: 1%;
}
#dark_room_pic, #exam_room_pic, #digital_portable_pic, #film_viewing_pic {
    width: 100%;
    height: 100%;
    border-radius: 10px 10px 0px 0px;
}
#khoianh2_digital_portable {
    display: grid;
    grid-template-rows: 310px 90px;
    padding-left: 1%;
    padding-right: 1%;
}

#khoianh2_exam_room {
    display: grid;
    grid-template-rows: 310px 90px;
    padding-left: 1%;
    padding-right: 1%;
}

#khoianh2_film_viewing {
    display: grid;
    grid-template-rows: 310px 90px;
    padding-left: 1%;
}
#div_chua_view_all {
    text-align: center;
    padding-top: 20px;
}
#viewall {
    background: black;
    font-size: 20px;
    font-style: italic;
    padding: 18px;
    margin: 15px;
    border-radius: 10px;
}
#view_all_link {
    color: white;
    text-decoration: none;
    font-style: italic;
}
#div4 {
    display: grid;
    grid-template-rows: 150px 400px 80px;
    padding: 20px 5%;
}
#div4_chu {
    display: grid;
    grid-template-rows: 70px 70px;
}
#div4_anh {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    padding-top: 15px;
}
#khoianh3_hand_sanitizer {
    display: grid;
    grid-template-rows: 310px 90px;
    padding-right: 1%;
}
/* #div_chua_hand_sanitizer {} */
#hand_sanitizer_pic, #ct_gantry_pic, #exam_gowns_pic, #labels_and_dispensers_pic {
    width: 100%;
    height: 100%;
    border-radius: 10px 10px 0px 0px;
}
#div_chua_dark_room_link, #div_chua_digital_portable_link, #div_chua_exam_room_link,#div_chua_film_viewing_link,
#div_chua_hand_sanitizer_link, #div_chua_ct_gantry_link, #div_chua_exam_gowns_link,
 #div_chua_labels_and_dispensers_link, #div_chua_dark_room_products_link, #div_chua_exam_room_products_link,
 #div_chua_mri_link, #div_chua_ultrasound_link, #div_chua_aluminum_link, #div_chua_collimator_link,
 #div_chua_collimator_link, #div_chua_collimator_lamps_link, #div_chua_high_voltage_link {
    background: rgb(153, 114, 114);
    text-align: center;
    font-size: 25px;
    padding-top: 25px;
    color: black;
    font-style: italic;
    text-decoration: none;
    border-radius: 0px 0px 10px 10px;
}
#khoianh3_ct_gantry {
    display: grid;
    grid-template-rows: 310px 90px;
    padding-left: 1%;
    padding-right: 1%;
}
/* #div_chua_ct_gantry {} */

#khoianh3_exam_gowns {
    display: grid;
    grid-template-rows: 310px 90px;
    padding-left: 1%;
    padding-right: 1%;
}
/* #div_chua_exam_gowns {} */

#khoianh3_labels_and_dispensers {
    display: grid;
    grid-template-rows: 310px 90px;
    padding-left: 1%;
}
/* #div_chua_labels_and_dispensers {} */

#div5 {
    display: grid;
    grid-template-rows: 150px 400px 80px;
    padding: 20px 5%;
}
#div5_chu {
    display: grid;
    grid-template-rows: 70px 70px;
}
#div5_anh {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    padding-top: 15px;
}
#khoianh4_dark_room_products {
    display: grid;
    grid-template-rows: 310px 90px;
    padding-right: 1%;
}
/* #div_chua_dark_room_products {} */
#dark_room_products_pic, #exam_room_products_pic, #mri_pic, #ultrasound_pic {
    width: 100%;
    height: 100%;
    border-radius: 10px 10px 0px 0px;
}
#khoianh4_exam_room_products {
    display: grid;
    grid-template-rows: 310px 90px;
    padding-left: 1%;
    padding-right: 1%;
}
/* #div_chua_exam_room_products {} */

#khoianh4_mri {
    display: grid;
    grid-template-rows: 310px 90px;
    padding-left: 1%;
    padding-right: 1%;
}
/* #div_chua_mri {} */

#khoianh4_ultrasound_accessories {
    display: grid;
    grid-template-rows: 310px 90px;
    padding-left: 1%;
}
/* #div_chua_ultrasound {} */

#div6 {
    display: grid;
    grid-template-rows: 150px 400px 80px;
    padding: 20px 5%;
}
#div6_chu {
    display: grid;
    grid-template-rows: 70px 70px;
}
#div6_anh {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    padding-top: 15px;
}
#khoianh5_aluminum {
    display: grid;
    grid-template-rows: 310px 90px;
    padding-right: 1%;
}
/* #div_chua_aluminum {} */
#aluminum_pic, #collimator_pic, #collimator_lamps_pic, #high_voltage_pic {
    width: 100%;
    height: 100%;
    border-radius: 10px 10px 0px 0px;
}
#khoianh5_collimator, #khoianh5_collimator_lamps {
    display: grid;
    grid-template-rows: 310px 90px;
    padding-left: 1%;
    padding-right: 1%;
}
/* #div_chua_collimator {} */

/* #div_chua_collimator_lamps {} */
#khoianh5_high_voltage {
    display: grid;
    grid-template-rows: 310px 90px;
    padding-left: 1%;
}
/* #div_chua_high_voltage {} */
#div7 {
    display: grid;
    background-color: green;
    height: auto;
    grid-template-columns: 66% 34%;
    color: black;
    padding: 20px 5% 20px 5%;
    border-radius: 10px;
}
#div7_1 {
    display: grid; 
    grid-template-columns: 46% 54%;
}
#div_chua_logo_icon {
    grid-template-rows: 70% 30%;
}
#div_chua_logo_duoi {
    margin: 20px auto 0px auto;
    text-align: center;
}
#logo_duoi {
    width: 60%;
}
#div_chua_icon {
    margin: 0px auto 0px auto;
    text-align: center;
}
#icon_duoi {
    width: 45%;
}
#div7_2 {
    display: grid;
    grid-template-columns: 50% 50%;
    margin: 0px;
    height: 210px;
}
#div7_3 {
    grid-template-rows: 80% 20%;
    padding-left: 50px;
}
#div_chua_lead_glass_link :hover, #div_chua_lead_curtains_link :hover, #div_chua_xrays_link :hover, #div_chua_grids_link :hover {
    color: yellow;
}
#div_chua_lead_glass_link :active, #div_chua_lead_curtains_link :active, #div_chua_xrays_link :active, #div_chua_grids_link :active {
    color: yellow;
}
#div_chua_hand_sanitizer_link :hover, #div_chua_ct_gantry_link :hover, #div_chua_exam_gowns_link :hover,
 #div_chua_labels_and_dispensers_link :hover, #div_chua_dark_room_products_link :hover, #div_chua_exam_room_products_link :hover,
 #div_chua_mri_link :hover, #div_chua_ultrasound_link :hover, #div_chua_aluminum_link :hover, #div_chua_collimator_link :hover,
 #div_chua_collimator_link :hover, #div_chua_collimator_lamps_link :hover, #div_chua_high_voltage_link :hover {
    color: blue;
}
#div_chua_hand_sanitizer_link :active, #div_chua_ct_gantry_link :active, #div_chua_exam_gowns_link :active,
 #div_chua_labels_and_dispensers_link :active, #div_chua_dark_room_products_link :active, #div_chua_exam_room_products_link :active,
 #div_chua_mri_link :active, #div_chua_ultrasound_link :active, #div_chua_aluminum_link :active, #div_chua_collimator_link :active,
 #div_chua_collimator_link :active, #div_chua_collimator_lamps_link :active, #div_chua_high_voltage_link :active {
    color: blue;
}
#dark_room_link, #digital_portable_link, #exam_room_link, #film_viewing_link, #hand_sanitizer_link,
#ct_gantry_link, #exam_gowns_link, #label_and_dispensers_link, #dark_room_products_link,
#exam_room_products_link, #mri_link, #ultrasound_link, #aluminum_link, #collimator_link,
#collimator_lamps_link, #high_voltage_link {
    color: black;
    text-decoration: none;
}
#viewall :hover {
    color: yellow;
}
#viewall :active {
    color: yellow;
}
#div_chua_link :hover {
    background-color: brown;
    color: white;
}
#div_chua_link :active {
    background-color: brown;
    color: white;
}
.footer {
    display: grid;
    border: 5%;
    border-color: black;
    background-color: rgb(23, 235, 23);
    height: auto;
    grid-template-columns: 30% 15% 15% 40%;
    color: black;
    padding: 20px 5%;
    border-radius: 10px;
}
