@media screen and (min-width: 600px) and (max-width: 1001px) {
    #div1 {
        display: grid;
        grid-template-rows: 40% 60%;
    }
    #div1-1 {
        display:grid;
        grid-template-columns: 25% 25% 50%;
        padding-bottom: 10px;
        padding-top: 30px;
    }
    #logo {
        width: 80%;
        height: auto;
    }
    .search-container {
        padding-top: 50px;
        padding-left: 8%;
        text-align: center;
    }
    /* thanh tìm kiếm */
    #searchInput {  
    padding: 5px;
    width: 50%;
    height: 20px;
    float: left;
    border-radius: 10px;
    }
        
    /* nút search */
    #searchButton {
    width: 25%;
    height: 25px;
    padding-right: 8px;
    bottom: 20px;
    border: none;
    cursor: pointer;
    border-radius: 10px;
    }

    #NavLink {
        text-align: center;
        padding-top: 100px;
        color: white;order: 3;
        font-size: 1px;
    }

    nav {
        flex-basis: 100%;
        background-color:white;
        display: flex;                  
        justify-content: space-around;
        align-items: end;
        background: rgb(235, 206, 153);
        color: black;
    }

    #Nav1, #Nav2, #Nav3, #Nav4, #Nav5, #Nav6, #Nav7 {
        color: black;
        padding-left: 2px;
        text-decoration: none;
    }
}